.min-h-screen {
    min-height: 100vh;
}

.blurred {
    width: inherit;
    height: inherit;
    filter: blur(7px) grayscale(50%);
    object-fit: cover;
    transform: scale(1.04);
    overflow: hidden;
    display: block;
}

.soft-shadow {
    box-shadow: 0 0.5em .25em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);;
}

.rounded {
    border-radius: 1em;
}

.bottom-rounded {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.is-carousel-focused {
    max-height: .8em;
    transition: max-height .15s;
}

.is-carousel {
    max-height: .5em;
    transition: max-height .15s;
}
